PG_HOST=localhost
PG_PORT=5432
PG_USER='...'
PG_DATABASE='...'
PG_PASSWORD='...'
SUPABASE_URL='...'
SUPABASE_SECRET_KEY='...'

# only needed for seeding, not required for normal operation
SEED_USER_ID='...'
